# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**

<ul>
    <li>Evaluating arithmetic expressions in Python</li>
    <li>Development environment open source tools used in data science</li>
    <li>Commonly used libraries used by Data Scientists</li>
</ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>PyDev</td>
    </tr>
    <tr>
        <td>Thonny</td>
    </tr>
    <tr>
        <td>Atom</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [6]:
(3*4)+5

17

<!--This a simple arithmetic expression to multiply then add integers-->

In [7]:
200/60

3.3333333333333335

<!--This will convert 200 minutes to hours by diving by 60-->

<h2>Author</h2>
Ashlesha Lad